/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

a {
  color: white;
  text-decoration: none; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-size: 14px; }

#content {
  position: relative;
  max-width: 100vw;
  overflow: hidden; }

.main-wrapper {
  max-width: 1280px;
  margin: 0 auto; }

@media only screen and (min-width: 1600px) {
  .main-wrapper {
    max-width: 1600px; } }

@media only screen and (min-width: 1020px) and (max-width: 1300px) {
  .main-wrapper {
    margin: 0 30px; } }

@media only screen and (max-width: 768px) {
  .main-wrapper {
    margin: 0 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .main-wrapper {
    margin: 0 24px; } }

.susy-grid {
  display: none;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(64, 191, 64, 0.5);" /%3E%3Cstop offset="100%" style="stop-color:rgba(159, 223, 159, 0.5);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="5.93368%" height="100%"/%3E%3Crect x="8.55148%" width="5.93368%" height="100%"/%3E%3Crect x="17.10297%" width="5.93368%" height="100%"/%3E%3Crect x="25.65445%" width="5.93368%" height="100%"/%3E%3Crect x="34.20593%" width="5.93368%" height="100%"/%3E%3Crect x="42.75742%" width="5.93368%" height="100%"/%3E%3Crect x="51.3089%" width="5.93368%" height="100%"/%3E%3Crect x="59.86038%" width="5.93368%" height="100%"/%3E%3Crect x="68.41187%" width="5.93368%" height="100%"/%3E%3Crect x="76.96335%" width="5.93368%" height="100%"/%3E%3Crect x="85.51483%" width="5.93368%" height="100%"/%3E%3Crect x="94.06632%" width="5.93368%" height="100%"/%3E%3C/svg%3E') no-repeat scroll; }

@media only screen and (min-width: 1020px) and (max-width: 1300px) {
  .susy-grid {
    margin: 0 30px; } }

@media only screen and (max-width: 768px) {
  .susy-grid {
    margin: 0 15px;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(64, 191, 64, 0.5);" /%3E%3Cstop offset="100%" style="stop-color:rgba(159, 223, 159, 0.5);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="45.7971%" height="100%"/%3E%3Crect x="54.2029%" width="45.7971%" height="100%"/%3E%3C/svg%3E') no-repeat scroll; } }

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .susy-grid {
    margin: 0 24px;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(64, 191, 64, 0.5);" /%3E%3Cstop offset="100%" style="stop-color:rgba(159, 223, 159, 0.5);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="13.31484%" height="100%"/%3E%3Crect x="17.33703%" width="13.31484%" height="100%"/%3E%3Crect x="34.67406%" width="13.31484%" height="100%"/%3E%3Crect x="52.0111%" width="13.31484%" height="100%"/%3E%3Crect x="69.34813%" width="13.31484%" height="100%"/%3E%3Crect x="86.68516%" width="13.31484%" height="100%"/%3E%3C/svg%3E') no-repeat scroll; } }

img {
  max-width: 100%; }

a {
  color: inherit; }

.mobile-only {
  display: none; }

@media only screen and (max-width: 768px) {
  .mobile-only {
    display: block; } }

#site-header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center; }

/*
#site-footer {

}
*/
.cta {
  display: inline-block;
  cursor: pointer; }
