{#
  Title: Blabla
  Description: Customer testimonial
  Category: formatting
  Icon: admin-comments
  Keywords: testimonial quote "customer testimonial"
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: false
  SupportsMultiple: false
#}

<div>
  {% for item in fields.blabla %}
    <p>{{item.text}}</p>
  {% endfor %}
</div>