@import 'lib/_reset';
// @import 'lib/_normalize';

// Config

@import 'config/_variables';
@import 'config/_utils';
@import 'config/_fonts';

// Global style
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  color: red;
}

#content {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.main-wrapper {
  max-width: $gridSize;
  margin: 0 auto;

  @include desktop-large {
    max-width: $gridSizeLarge;
  }

  @include laptop {
    margin: 0 30px;
  }

  @include mobile {
    margin: 0 15px;
  }

  @include tablet {
    margin: 0 24px;
  }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.mobile-only {
  display: none;

  @include mobile {
    display: block;
  }
}

// Modules

@import 'modules/_header';
@import 'modules/_footer';
@import 'modules/_cta';
